#main {
  background-color: #282c34;
  color: white;
  font-size: 18px;
}

.carousel {
  border-radius: 1%;
  background-color: black;
  width: 100%;
  position: relative;
  border: 9px solid;
  border-style: ridge;
  border-color: rgb(80, 80, 80);
  box-shadow: 8px 8px 10px rgb(31, 29, 29);
  box-sizing: border-box;

}

 .media {
  margin: auto; 
  display: inline;
 }
.carousel-item > img {
  width: auto;
  position: relative;
  height: 700px;
  max-height: 500px;
  margin: 2px;
}

.infobox {
  margin: 2rem;
  font-size: large;
}
#youknow {
  border: 3px solid rgba(255, 255, 255, 0.822);
  border-style: ridge;
  box-shadow: 4px 4px 10px grey;
  width: 100%;
  max-width: 450px;
  height: auto;
}



#navBar {
  background-color: rgb(112, 112, 112);
  min-height: 75px;
  border-bottom: 8px solid darkred;
  border-bottom-style: ridge;
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
}

.site-footer {
  color: white;
  background-color: rgb(112, 112, 112);
  flex-direction: row;
  white-space: nowrap;
  font-size: 14px;
  margin: auto;
  padding: 25px;
  border-top: 8px solid darkred;
  border-top-style: ridge;
  text-shadow: 1px 1px 1px black;
}

ul#footer li {
  display: inline;
}

#top {
  margin-bottom: 50px;
}

/* #homePic {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 7px solid grey;
  border-style: outset;
  box-shadow: 5px 4px 10px black;
  border-radius: 3%/3%;
} */